.server-list {
    background-color: #202225;
    display: flex;
    flex-direction: column;
    flex: 0.15;
    height: 100vh;
    width: 72px;
    align-items: center;
    padding-top: 15px;
    margin: 0%;
}

.server-list-img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}
.server-home{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #96989D;
    margin-bottom: 10px;
}

.server-welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200vh
}

button {
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}
