.server-list {
    background-color: #202225;
    display: flex;
    flex-direction: column;
    flex: 0.15;
    height: 98.5vh;
    width: 72px;
    align-items: center;
    padding-top: 15px;
    /* margin: 0%; */
}

.server-list-img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}
.server-home{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #96989D;
    margin-bottom: 10px;
}

.server-welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200vh
}

.errors {
    list-style-type: none;
    color: tomato
}

button {
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

.all-servers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-server-button {
    margin-top: 25px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    color: #3BA55D;
    background-color: #36393F;
    border: none;
}

.create-server-button:hover {
    background-color: #3BA55D;
    color: white;
}

.create-server {
    display: flex;
    flex-direction: column;
}

.create-server-customize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.create-server-big {
    font-weight: bold;
    font-size: 30px;

}

.create-server-small {
    margin-top: 10px;
}

.create-input {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    background-color: #202225;
    color: #B9BBBE;
    height: 14px;
    width: 414px;
    padding: 10px;
    border: none;
    margin: 5px;
    border-radius: 3px;
}

.submit-server-button {
    background-color: #5865F2;
    color: #F6F6F7;
    font-size: 14px;
    font-weight: 530;
    border: none;
    border-radius: 6px;
    width: 120px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
}

.submit-server-button:hover {
    background-color: #4a56cf;
}

.update-server {
    background-color: #5865F2;
    color: #F6F6F7;
    font-size: 14px;
    font-weight: 530;
    border: none;
    border-radius: 6px;
    width: 120px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
}

.update-server:hover {
    background-color: #4a56cf;
}

.delete-server {
    background-color: #ED4245;
    color: #F6F6F7;
    font-size: 14px;
    font-weight: 530;
    border: none;
    border-radius: 6px;
    width: 120px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
}

.delete-server:hover {
    background-color: #c0383a;
}

.update-server-button {
    background-color: #2D7D46;
    color:#F6F6F7;
    border: none;
    border-radius: 20%;
    max-width: fit-content;
    padding: 10px 5px;
    font-size: 12px;
    font-weight: bold;
}

.update-server-button:hover {
    background-color: #215732;
}
