.server-channels {
    display: flex;
    justify-content:auto;
    flex-direction: row;
    background-color: #2F3136;
    width: 312px;
}

.sc-channels {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #FFFFFF;
    justify-content:first baseline;
    padding-left: 15px;
}

.sc-chatbox {
    display: flex;
    flex-direction: column-reverse;
    height: 95vh;
    color: #FFFFFF;
    justify-content:first baseline;
    padding-left: 185px;
}
