/* TODO Add site wide styles */
body {
    background-color: #36393F;
    color: #DCDDDE;
    margin: 0;
}

.dashboard {
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 0;
}
