/* TODO Add site wide styles */
body {
    background-color: #36393F;
    color: #DCDDDE;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* button {
    background-color: grey;
    color:white;
    border: none;
    border-radius: 10%;
} */

.dashboard {
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 0;
}

.d-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 90vw;
    height: 50px;
    margin: 10px;
}
.d-nav button {
    margin-top: 36px;
}
