.login-auth-form {
    height: 408px;
    width: 784px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #36393F;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 hsla(0,calc(var(--saturation-factor, 1)*0%),0%,.2)
}

.signup-auth-form {
    height: 560px;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #36393F;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 hsla(0,calc(var(--saturation-factor, 1)*0%),0%,.2)
}

.back-home {
    text-decoration: none;
    color: #00AFF4;
    font-size: 14px;
}

.back-home:hover {
    text-decoration: underline;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./login-img.png') no-repeat center fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./login-img.png') no-repeat center fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.signup-login-input {
    background-color: #202225;
    color: #B9BBBE;
    height: 14px;
    width: 414px;
    padding: 10px;
    border: none;
    margin: 5px;
    border-radius: 3px;
}

.signup-login-field {
    display: flex;
    flex-direction: column;
}

.input-label{
    color: #B9BBBE;
}

.required{
    color:#ED4245;
    font-size: 12px;
}

.signup-login-big{
    color:#FFFFFF
}

.signup-login-small{
    color: #A3A6AA
}

.signup-login-button {
    background-color: #5865F2;
    height: 44px;
    width: 414px;
    padding: 2px 16px;
    color:#FFFFFF;
    font-size: 20px;
    border: none;
    border-radius: 3px;
}

.switch {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}
.switch-link {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    margin-left: 5px;
}

#root > div.signup-page > div > form > button {
    margin:auto;
}

#root > div.login-page > div > form > button {
    margin: auto;
}
