.splash-page {
    color: #FFFFFF;
}

.banner-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 626px;
    z-index: -1;
    background: url('./01.svg');
    background-color: #404EED
}

.banner-img-center {
    background: url('./01.svg');
}

.banner-img-1 {
    background: url('./1.svg');
    width: 690px;
    height: 350px;
}


.banner-img-2 {
    background: url('./2.svg');
    width: 615px;
    height: 360px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #23272A;
    padding-top: 10px;
    text-anchor: none;
}

.splash-page a {
    text-decoration: none;
    color: #FFFFFF;
}

.splash-page a:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

.top {
    position: absolute;
    top: 0;
    width: 100%;
}
.top-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.header-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    width: 100%;
}
